<div class="row">

    {{#each plugins}}
        {{#with this}}

            <div class="col-md-4 installable-plugins-list-item" id="installable-plugins-list-item-{{@index}}">
                <div class="installable-plugins-list-item-container">

                    <span class="hidden plugin_id">{{id}}</span>
                    <span class="hidden plugin_name">{{name}}</span>
                    <span class="hidden plugin_author">{{author}}</span>
                    <div class="tile-container">
                        <div class="tile-thumbnail">
                            <a href="#" onclick="showPluginInfo('{{id}}');" title="Info"
                               data-toggle="modal" data-target="#configure-plugin">
                                <img src="{{icon}}" style="height:100%;width:auto;"/>
                            </a>
                        </div>

                        <hr/>

                        <div class="tile-title">
                            <h3>
                                <a href="#" onclick="showPluginInfo('{{id}}');" title="Info"
                                   data-toggle="modal" data-target="#configure-plugin">
                                    {{name}}
                                </a>
                            </h3>
                            <br><br>
                            <a href="#" onclick="showPluginInfo('{{id}}');" title="Info"
                               data-toggle="modal" data-target="#configure-plugin">
                                <i class="icon-question font-blue"></i>
                            </a>
                            {{#if installed}}
                                <a href="javascript:downloadPlugin('{{id}}', '{{@index}}');" title="Reinstall">
                                    <i class="icon-check font-green-meadow"></i>
                                </a>
                            {{else}}
                                <a href="javascript:downloadPlugin('{{id}}', '{{@index}}');" title="Install">
                                    <i class="icon-cloud-download font-yellow-gold"></i>
                                </a>
                            {{/if}}
                            <div class="tile-desc">
                                <p>
                                    Author:
                                    <span class="font-grey-salt">{{author}}</span>
                                    <br>
                                    Version:
                                    <span class="font-grey-salt">{{version}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {{/with}}
    {{/each}}

</div>

{{#pagination pagination.currentPage pagination.pageCount pagination.pageSize}}
<div class="search-pagination pagination-rounded">
    <ul class="pagination">
      {{#each pages}}
        {{#if isCurrent}}
            <li class="page-active">
                <a href="#"> {{page}} </a>
            </li>
        {{/if}}
        {{#unless isCurrent}}
            <li>
                <a href="javascript:setPluginsPagination('{{page}}');"> {{page}} </a>
            </li>
        {{/unless}}
      {{/each}}
    </ul>
</div>
{{/pagination}}
